### 1

In [14]:
def foo(x):#The function foo takes a single argument x.
    #Inside the function, the elements at index 0 and 1 of the input list x are modified. 
    x[0]=['def']#The element at index 0 is set to ['def']
    x[1]=['abc']#the element at index 1 is set to ['abc'].
    #The function returns the unique identifier (id) of the modified list x
    return id(x)#This statement exits the function, and the lines of code after it will not be executed.
q = ['abc','def']# this line will not be executed due to the 'return' statement
print(id(q)==foo(q))#his comparison will not take place because of the return statement.

True

* reason for above output 
* The comparison result is printed, and it will be True if the modification inside the function changed the identity of the list.
* the identity of the modified list x will be different from the identity of the new list ['abc', 'def'], resulting in a True comparison.
* So, the output of the print(comparison_result) statement will be True. The modification inside the foo function has indeed changed the identity of the list

### 2.

In [16]:
def fun():#This code defines a function named fun.
    try:#Inside the fun function, there is a try block. Code within this block is attempted to be executed.
        return 1#The try block has a return 1 statement. 
    #This means that if the execution reaches this line, the function will immediately return the value 1 and exit.
    finally:#The finally block is executed no matter what happens in the try block. 
        #it ensures that some code is always executed, regardless of whether an exception is raised or not.
        return 2#Inside the finally block, there is a return 2 statement.
           #This means that even if the try block encountered a return statement, the finally block will override it and the function will return the value 2.
k = fun()#The fun function is called, and its return value is assigned to the variable k.
print(k)#from the finally block always executes, it returns the value 2, regardless of the return statement in the try block.

2

### 3

In [18]:
def func():#This line defines a function named func. The function doesn't take any parameters.
    global value #The global keyword is used to declare that the variable value being referred to in this function is a global variable (outside the function scope).
    value = "Local"#Inside the function, the global variable value is assigned the string value "Local".

value = "Global" #Outside the function, a global variable value is assigned the string value "Global". This is a separate variable from the one inside the function.
func()#The func function is called, which modifies the global variable value to "Local".
print(value)#The value of the global variable value is printed. The value has been modified by the func function, so the output will be "Local".

Local

#####  4__________ exceptions are raised as a result of an error in opening a particular file

* The IOError is an exception in Python that is raised for input/output-related errors. This includes errors that can occur during file operations, such as opening, reading, or writing to a file.

#### 5 In python we do not specify types, it is directly interpreted by the compiler, so consider the following operation to be performed

a) x = 13 // 2: This performs integer division, and the result is 6 (the floor division of 13 by 2). The type of x will be an integer.

b) x = int(13 / 2): Here, you're explicitly converting the result of the division to an integer using the int() function. The result is 6, and the type of x will be an integer.

c) x = 13 % 2: This performs the modulus operation, and the result is 1. The type of x will be an integer.

So, all three options involve integer operations, and the type of x in all cases will be an integer. Therefore, the correct answer is:

d) All of the mentioned

#### 6 what  will be the output of the following python code t[5]

In [19]:
t[5]

NameError: name 't' is not defined

*b) NameError: This error occurs when trying to use a variable or a name that is not defined. If t is not defined before using t[5], a NameError will occur.

#### 7  A while loop is used for indefinite iteration.Â¶


* The while loop in Python stands as a dynamic sentinel, tirelessly guarding the gates of iteration. Its open-ended nature allows code to dance in a rhythm only constrained by the conditions set within, embodying the spirit of adaptability and endless possibility in the world of programming."

#### 8 what will be the output of the following python code

In [20]:
x = "abcdef"#initializes a string variable x with the value "abcdef".

while i in x:# The while loop condition is using i in x, but since i is not defined
    
    print(i,end =" ")# it will result in a NameError. Additionally, if i were defined, the condition 
# would check whether the value of i is in the string x, which might not be the intended behavior.

NameError: name 'i' is not defined

#### 9 what is the main advantage of using decorators in python

* The main advantage of using decorators in Python is that they provide a way to easily and cleanly modify or extend the behavior of functions, promoting code reusability, separation of concerns, and improved readability.

#### 10if return statement is not used inside the function, the function will return:

**If a return statement is not used inside a function in Python, the function will automatically return None by default. None is a special constant in Python that represents the absence of a value or a null value

In [21]:
def my_function():
    print()

result = my_function()

print(result)

None

#### 11. what is called when a function is defined inside a class

* Method

#### 12. which  operator is used in python to import modules from packages

* In Python, the dot (.) operator is used to import modules from packages. When you have a package containing submodules, you can use the dot notation to specify the path to the module you want to import.

#### 13

In [24]:
def getMonth(m): # Defines a function named getMonth that takes a parameter m
    if m<1 or m>12: # Checks if the value of m is less than 1 or greater than 12.
        raise ValueError("Invalid") # If the condition is true (i.e., m is not between 1 and 12), raises a ValueError with the message "Invalid."
    print(m) # If the condition is false, prints the value of m.
getMonth(6) # Calls the getMonth function with the argument 6.

# So, when you run the code with getMonth(6), it will print 6 without raising a ValueError.

6

#### 14 In python programming Language syntax error is detected by Interpreter at Run time

* syntax errors are detected during the parsing stage, which occurs when the Python interpreter reads your source code and tries to convert it into a bytecode representation. Python is an interpreted language, and the process of converting the source code into bytecode involves several stages, one of which is parsing.

* syntax errors are detected during the parsing stage when the Python interpreter reads and processes your source code before generating bytecode.

### 15.

In [ ]:
class Book:
    def__init__(self,author):
         self.auther = auther
book1= Book("V.M.shah")
book2 =book1

#### Data Analysis_module

In [2]:
import pandas as pd ,numpy as np

In [3]:
data = {
    'Date': pd.to_datetime(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-10', '2024-01-09', '2024-01-08']),
    'Category': ['Beverage', 'Food', 'Beverage', 'Beverage', 'Beverage', 'Food'],
    'Product': ['Cappuccino', 'Croissant', 'Espresso', 'Latte', 'Latte', 'Muffin'],
    'CustomerID': ['C004', 'C002', 'C001', 'C001', 'C003', 'C002'],
    'Quantity': [1, 2, 2, 3, 1, 1],
    'UnitPrice': [3, 2, 2, 3.5, 3.5, 2.5]
}

In [4]:
df =pd.DataFrame(data)

In [5]:
df

        Date  Category     Product CustomerID  Quantity  UnitPrice
0 2024-01-01  Beverage  Cappuccino       C004         1        3.0
1 2024-01-02      Food   Croissant       C002         2        2.0
2 2024-01-03  Beverage    Espresso       C001         2        2.0
3 2024-01-10  Beverage       Latte       C001         3        3.5
4 2024-01-09  Beverage       Latte       C003         1        3.5
5 2024-01-08      Food      Muffin       C002         1        2.5

#### 16.  how to create a new column 'revenue ' ,which has value equals to the quantity*Unitprice of the current row?

In [6]:
df['Revenue'] = df['Quantity'] * df['UnitPrice']

In [7]:
df['Revenue']

0     3.0
1     4.0
2     4.0
3    10.5
4     3.5
5     2.5
Name: Revenue, dtype: float64

#### 17.  what is the syntax to find Categorical wise revenue

In [8]:
df.groupby('Category')['Revenue'].sum()#calculates the sum of the 'Revenue' column for each category.

Category
Beverage    21.0
Food         6.5
Name: Revenue, dtype: float64

#### 18. To find average quantity  wrt to data and product,

In [9]:
df.groupby(['Date', 'Product'])['Quantity'].mean()

Date        Product
2024-01-01  Cappuccino    1.0
2024-01-02  Croissant     2.0
2024-01-03  Espresso      2.0
2024-01-08  Muffin        1.0
2024-01-09  Latte         1.0
2024-01-10  Latte         3.0
Name: Quantity, dtype: float64

#### 19. average quantity wrt to date and product

In [10]:
df.groupby('Category')['Revenue'].sum()

Category
Beverage    21.0
Food         6.5
Name: Revenue, dtype: float64

#### 20. using transform, what is the syntax to create a cloumn which has a unitprice difference wrt its category mean?

In [11]:
df.groupby('Category')['UnitPrice'].transform(lambda x: x - x.mean())

0    0.00
1   -0.25
2   -1.00
3    0.50
4    0.50
5    0.25
Name: UnitPrice, dtype: float64

#### 21. what is the correct syntax to get dat wrt ' monday'

In [12]:
df.groupby(df.Date.dt.day_name()).get_group('Monday')

        Date  Category     Product CustomerID  Quantity  UnitPrice  Revenue
0 2024-01-01  Beverage  Cappuccino       C004         1        3.0      3.0
5 2024-01-08      Food      Muffin       C002         1        2.5      2.5

#### 22.  True statement on apply

apply() can be applied on rows, Apply applies the function on the entire sries at a time

#### 23. true statement

#### Apply and map are vectorized applications

--->When using apply in the context of libraries like NumPy or Pandas in Python, or similar libraries in other languages, the underlying operations are often vectorized for efficiency.

--->Libraries like NumPy are designed to perform operations on entire arrays efficiently, and they use low-level, optimized code  to achieve this vectorized behavior.

---->Parallelization: In some cases, the map operation can be parallelized, meaning that the function is applied to multiple elements simultaneously, utilizing multicore processors for increased performance.

---->"map" and "apply" can be vectorized applications when implemented in languages or libraries that support optimized, bulk operations on collections or data structures, leading to more efficient and faster computations.

----> "map" and "apply" can be vectorized applications when implemented in languages or libraries that support optimized, bulk operations on collections or data structures, leading to more efficient and faster computations.

In [13]:
import pandas as pd
import numpy as np

In [56]:
# providing the data and columns  name with dic 
data = {
    'Date': pd.to_datetime(['2024-01-10', '2024-01-11', '2024-01-10', '2024-01-12', '2024-01-11', '2024-01-12']),
    'Region': ['North', 'South', 'East', 'West', 'North', 'East'],
    'Salesperson': ['Ajay', 'Balu', 'Chirag', 'Ajay', 'Balu', 'Chirag'],
    'Product': ['Notebook', 'Pen', 'Notebook', 'Pen', 'Binder', 'Binder'],
    'Quantity': [5, 10, 7, 15, 20, 10],
    'UnitPrice': [12, 3, 12, 3, 5, 5]
}

In [57]:
df =pd.DataFrame(data)

In [58]:
df

        Date Region Salesperson   Product  Quantity  UnitPrice
0 2024-01-10  North        Ajay  Notebook         5         12
1 2024-01-11  South        Balu       Pen        10          3
2 2024-01-10   East      Chirag  Notebook         7         12
3 2024-01-12   West        Ajay       Pen        15          3
4 2024-01-11  North        Balu    Binder        20          5
5 2024-01-12   East      Chirag    Binder        10          5

#### 24.syntax to create a pivot table with index as north and south and columns as poduct and souuth columns as proudut where values are sum of quantities sold

In [59]:
# Creating a pivot table with index as 'Region', columns as 'Product',
# and values as the sum of 'Quantity'
df[df['Region'].isin(['North', 'South'])].pivot_table(index='Region', columns='Product', values='Quantity', aggfunc='sum')

Product  Binder  Notebook   Pen
Region
North      20.0       5.0   NaN
South       NaN       NaN  10.0

#### 25.True statement

* loc method includes the last element when used for slicing, 
* we can use .loc method and pass default integer index of rows when slicing

#### 26 Using a pivot table is it possible to create a multi index datafrme ,if so what is the syntax to have multi index of data and region with total product sold as values

In [60]:
# Create a pivot table with multi-index (Region, Product) and values as the sum of 'Quantity'
multi_index_pivot_table = df.pivot_table(index=['Region', 'Product'], values='Quantity', aggfunc='sum')
#we provide a list of columns for the index parameter, creating a multi-index DataFrame with 'Region' and 'Product' as index levels. 
#The values are the sum of 'Quantity' for each combination of region and product.

In [61]:
multi_index_pivot_table

                 Quantity
Region Product
East   Binder          10
       Notebook         7
North  Binder          20
       Notebook         5
South  Pen             10
West   Pen             15

#### 27.what does the marigins parameters in the pivot_table()function allow you to includre in the pivot table table

 --->the maximum number of rows and columns to display in the pivot table 
 
 *If you set margins=True, an additional row labeled "All" will be added to the bottom of the pivot table. This row contains the total for each column across all rows.
 
 *If you set margins=True, an additional column labeled "All" will be added to the right of the pivot table. This column contains the total for each row across all columns.
 
 *The intersection of the "All" row and "All" column represents the overall grand total, which is the sum of all values in the original dataset.

In [62]:
#providing the data and columns  name with dic 
data = {
    'Fruits': ['apple', 'banana', 'apple', 'apple', 'banana', 'apple', 'kiwi', 'kiwi', 'banana', 'apple', 'kiwi', 'apple', 'banana', 'grape', 'apple', 'banana', 'apple', 'apple', 'grape'],
    'Price': ['', '', 205, 200, 40, 210, 300, 320, '', 180, 350, '', 35, '', 215, 40, '', '', '']
}

In [63]:
df2 = pd.DataFrame(data)#Converting into dataframe

In [64]:
df2

    Fruits Price
0    apple
1   banana
2    apple   205
3    apple   200
4   banana    40
5    apple   210
6     kiwi   300
7     kiwi   320
8   banana
9    apple   180
10    kiwi   350
11   apple
12  banana    35
13   grape
14   apple   215
15  banana    40
16   apple
17   apple
18   grape

#### 28.if we chooser to impute missing values in price col by chainning ffill()and bfill()while limiting the imputations to 1, 1 respectively, how many missing values will be left post imputation

In [65]:
df2['Price'] = pd.to_numeric(df2['Price'])
df2['Price'] = df2['Price'].ffill(limit=1).bfill(limit=1)
# ffill can impute the values infort 
#b fill can impute the value backword
#limit =1 ,we providig how many missing values wants to fill from backward and forntward

In [66]:
df2['Price']

0       NaN
1     205.0
2     205.0
3     200.0
4      40.0
5     210.0
6     300.0
7     320.0
8     320.0
9     180.0
10    350.0
11    350.0
12     35.0
13     35.0
14    215.0
15     40.0
16     40.0
17      NaN
18      NaN
Name: Price, dtype: float64

#### 29.what kind of misssing values handling technique is appropriate for df

* imputing price column with individual fruits prices mean
* Dropping missing values

#### 30.if we choos to impute missing values in price col by withindividual fruits prices mean ,how many missing values will be post imputation?

In [67]:
df2['Price'] = pd.to_numeric(df2['Price'])
df2['Price'] = df2.groupby('Fruits')['Price'].transform(lambda x: x.fillna(x.mean()))

In [68]:
df2['Price']

0     200.0
1     205.0
2     205.0
3     200.0
4      40.0
5     210.0
6     300.0
7     320.0
8     320.0
9     180.0
10    350.0
11    350.0
12     35.0
13     35.0
14    215.0
15     40.0
16     40.0
17    200.0
18     35.0
Name: Price, dtype: float64

#### 31

In [73]:
 a = pd.Series([np.nan, 1, 2, np.nan, np.nan, np.nan, np.nan, 4, 5, 7])

a.interpolate()

0    NaN
1    1.0
2    2.0
3    2.4
4    2.8
5    3.2
6    3.6
7    4.0
8    5.0
9    7.0
dtype: float64

### 32.normalization parameter in crosstab method is used to normalize values by dividing them by the total count

In [16]:
data = {
    'Age Group': ['26-35', '18-25', '18-25', '26-35', '18-25', '18-25'],
    'Favorite Color': ['Blue', 'Red', 'Red', 'Blue', 'Red', 'Blue'],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Female', 'Female'],
    'Has Pet': ['Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No']
}

In [17]:
df3 = pd.DataFrame(data)

In [18]:
df3

  Age Group Favorite Color  Gender Has Pet
0     26-35           Blue    Male     Yes
1     18-25            Red  Female     Yes
2     18-25            Red    Male     Yes
3     26-35           Blue  Female     Yes
4     18-25            Red  Female     Yes
5     18-25           Blue  Female      No

### 33. Probability of finding a Male and having a Pet in df3

In [19]:
total_observations = len(df3)#Get the total number of observations in the DataFrame
## Counting the number of observations where Gender is 'Male' and Has Pet is 'Yes'
male_and_has_pet = len(df3[(df3['Gender'] == 'Male') & (df3['Has Pet'] == 'Yes')])
probability = male_and_has_pet / total_observations# Calculate the probability

print(probability)

0.3333333333333333

#### 34. what is the probalibility of finding a person havinh a pet given they belong to the age 18-25 in df3

In [20]:
age_group_18_25 = len(df3[df3['Age Group'] == '18-25'])#Count the number of observations where Age Group is '18-25'
# Count the number of observations where both Age Group is '18-25' and Has Pet is 'Yes'
has_pet_and_age_group_18_25 = len(df3[(df3['Age Group'] == '18-25') & (df3['Has Pet'] == 'Yes')])
#Calculate the probability of having a pet given the age group is '18-25
probability = has_pet_and_age_group_18_25 / age_group_18_25

print(probability)

0.75

#### 35.which distribution is appropriate for modeling the number of defects in large batch of products

* The binomial distribution is a straightforward and effective choice, providing a clear way to estimate the likelihood of a specific number of defects. It assumes independence between products and a consistent probability of defects, making it a simple and practical model for scenarios where defects are binary and rare in a large production batch."

#### 36.A survey asks participants to rate their satisfaction with a product on a scale of 1 to 5 ,what type of data is being collected

* categorical data is being collected, as the responses are discrete values on a scale (1 to 5) without any essential order or numerical significance.

#### what kind of distribution does the data follow

* Left Skewed

* Reason--> from given fig,here most of the data points are concentrated on the right side, with a few lower values trailing off to the left.

#### 38. in data with outliers ,what is the best measure to estimate the dispersion

* In data with outliers, Standard deviation is best measure to estimate the dispersion

* when dealing with data containing outliers, it's often more appropriate to use robust measures of dispersion, such as the interquartile range or median absolute deviation, instead of standard deviation. These measures provide a more accurate representation of the central spread of the data, especially when extreme values are present.